<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>978216441863-lu7ies51pitugo24g856gvucjjug24fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.978216441863-lu7ies51pitugo24g856gvucjjug24fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCP6GgAI8eRVn2XEvJzqc5545gcO_lvjo4</string>
	<key>GCM_SENDER_ID</key>
	<string>978216441863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Socion.SocionApp</string>
	<key>PROJECT_ID</key>
	<string>socion-9b2ad</string>
	<key>STORAGE_BUCKET</key>
	<string>socion-9b2ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:978216441863:ios:0152b8ea33283a922732a2</string>
</dict>
</plist>